@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../font/livvic-v15-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../font/livvic-v15-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

button {
  font-family: "Livvic", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px;
}

.site-header {
  padding: 73px 0 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__left-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 80px;
}

.header__logo-link {
  display: inline-block;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: white;
}
.header__link:hover {
  color: #F67E7E;
  scale: 1.07;
  transition: all 0.3s;
}

.header__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: white;
  padding: 10px 32px;
  border: 2px solid white;
  border-radius: 24px;
  background-color: transparent;
  transition: all 0.3s;
}
.header__btn:hover {
  color: #014E56;
  background-color: white;
  cursor: pointer;
}

.header__menu-icon {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 1024px) {
  .header__left-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
  }
  .header__logo-link img {
    width: 128px;
    height: 32px;
  }
}
@media (max-width: 768px) {
  .header__navbar {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__menu-icon {
    display: block;
  }
}
.hero-section {
  background-image: url("../../img/hero-bg2.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 720px) 0;
}

.hero-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0px;
  background-image: url("../../img/hero-bg1.png");
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: right bottom;
  padding-bottom: 250px;
}

.hero-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0px;
  color: white;
  width: 600px;
}

.hero-title span {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0px;
  color: #F67E7E;
}

.hero-span {
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
}

.hero-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: white;
  width: 445px;
  height: 112px;
  margin-top: 70px;
}

@media (max-width: 1024px) {
  .hero-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0px;
    color: white;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;
    max-width: 397px;
  }
  .hero-title span {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0px;
    color: #F67E7E;
  }
  .hero-span {
    display: none;
  }
  .hero-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    max-width: 545px;
    height: 84px;
    margin-top: 24px;
  }
  .hero-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .hero-wrapper {
    background-position: bottom center;
  }
}
@media (max-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    color: white;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;
    max-width: 248px;
  }
  .hero-title span {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #F67E7E;
  }
  .hero-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    max-width: 327px;
    height: 84px;
    margin-top: 18px;
  }
}
.info-section {
  padding: 140px 0;
  background-image: url("../../img/build-bg.png");
  background-size: 100px 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #012F34;
}

.info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 125px;
}

.info__left-wrapper {
  width: 536px;
}

.info__line {
  display: inline-block;
  margin-bottom: 54px;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
}

.info__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: white;
}

.info__list {
  margin-top: 54px;
}

.info__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
  margin-bottom: 32px;
}

.info__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #F67E7E;
}

.info__text--information {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #F67E7E;
  color: white !important;
}

@media (max-width: 974px) {
  .info-section {
    padding: 100px 0 100px 74px;
    background-image: url("../../img/build-bg.png");
    background-position: top right;
  }
  .info__line {
    margin-bottom: 32px;
  }
  .info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 125px;
    flex-direction: column;
  }
  .info__left-wrapper {
    width: 90%;
  }
  .info__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: white;
  }
  .info__list {
    margin-top: 0px;
  }
}
@media (max-width: 531px) {
  .info-section {
    padding: 64px 0;
  }
  .info__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: white;
    width: 70%;
  }
  .info__item {
    display: block;
    text-align: center;
    margin-bottom: 48px;
  }
  .info__item > img {
    margin-bottom: 16px;
  }
  .info__text {
    margin-bottom: 16px;
  }
}
.story-section {
  padding: 140px 0;
  background-image: url("../../img/story-bg1.svg"), url("../../img/story-bg2.svg");
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: left top, right bottom;
}

.story-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
}

.story-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: white;
  max-width: 932px;
  text-align: center;
  margin-bottom: 56px;
}

.story-title span {
  color: #79C8C7;
}

.story-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.story-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
  text-align: center;
  background-image: url("../../img/“.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 36px;
}

.story-item p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: white;
  max-width: 350px;
  margin-bottom: 24px;
}

.story-item strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #79C8C7;
  margin-bottom: 2px;
}

.story-item i {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  color: white;
  margin-bottom: 32px;
}

@media (max-width: 777px) {
  .story-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 48px;
  }
  .story-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
    flex-direction: column;
  }
  .story-item p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
    max-width: 350px;
    margin-bottom: 16px;
  }
}
.start-section {
  background-color: #F67E7E;
  background-image: url("../img/start-bg.png");
  background-repeat: no-repeat;
  background-size: 200px 122px;
  background-position: bottom left;
}

.start-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 76px 0;
}

.start-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #012F34;
  padding-left: 0px;
}

.start-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #012F34;
  padding: 10px 32px;
  border: 2px solid #012F34;
  border-radius: 24px;
  background-color: transparent;
  transition: all 0.3s;
}
.start-btn:hover {
  background-color: #012F34;
  color: #F67E7E;
  transition: all 0.3s;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .start-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #012F34;
    padding-left: 40px;
  }
}
@media (max-width: 645px) {
  .start-title {
    padding-left: 0;
  }
  .start-wrapper {
    flex-direction: column;
    text-align: center;
  }
}
.site-footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.footer__left-part-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 125px;
}

.footer__left-menyu > a > img {
  margin-bottom: 25px;
}

.footer__left-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.footer__left-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: white;
  transition: all 0.3s;
}
.footer__left-link:hover {
  color: #F67E7E;
}
.footer__left-link:active {
  opacity: 0.3;
}

.footer__address-text {
  width: 143px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: white;
}

.footer__address-phone {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: white;
  transition: all 0.3s;
}
.footer__address-phone:hover {
  color: #F67E7E;
}
.footer__address-phone:active {
  opacity: 0.3;
}

.footer__right-link {
  text-align: right;
}

.footer__link > a {
  color: white;
  margin-left: 16px;
  transition: all 0.3s;
}
.footer__link > a:hover {
  color: #F67E7E;
}

.footer__right-address-link {
  margin-top: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: white;
}

@media (max-width: 934px) {
  .site-footer {
    padding: 56px 0;
  }
  .footer {
    flex-direction: column;
  }
  .footer__left-menyu > a > img {
    margin-bottom: 53px;
    width: 96px;
    height: 24px;
  }
  .footer__left-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
  }
  .footer__address-text {
    width: 160px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
    text-align: right;
  }
  .footer__left-part-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 289px;
  }
  .footer__right-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin-top: 32px;
  }
  .footer__link {
    margin-top: 33px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-left: 0px;
  }
}
@media (max-width: 662px) {
  .site-footer {
    padding: 66px 0;
  }
  .footer__left-menyu > a > img {
    margin-bottom: 24px;
    width: 96px;
    height: 24px;
  }
  .footer__left-menyu {
    margin-bottom: 24px;
  }
  .footer__left-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 24px;
  }
  .footer__address-text {
    width: 138px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
    text-align: center;
  }
  .footer__center-part-address {
    margin-bottom: 40px;
  }
  .footer__left-part-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-direction: column;
    text-align: center;
  }
  .footer__right-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
  }
  .footer__link {
    margin-top: 0px;
  }
  .footer__right-address-link {
    margin-top: 16px;
  }
}/*# sourceMappingURL=main.css.map */