.info-section {
    padding: 140px 0;
    background-image: url("../../img/build-bg.png");
    background-size: 100px 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #012F34;
}
.info {
    @include Display($items: start, $justify: space-between, $gap: 125px);
}
.info__left-wrapper {
    width: 536px ;
}
.info__line {
    display: inline-block;
    margin-bottom: 54px;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
}
.info__title {
    @include TextStyle($FW: 700, $FS: 48px, $LH: 48px, $LS: 0px, $CLR: $clr-white);
}
.info__list {
    margin-top: 54px;
}
.info__item {
    @include Display($items: center, $justify: space-between, $gap: 23px);
    margin-bottom: 32px;
}
.info__text {
    @include TextStyle($FW: 600, $FS: 18px, $LH: 28px, $LS: 0px, $CLR: #F67E7E);
}
.info__text--information {
    @include TextStyle($FW: 600, $FS: 15px, $LH: 25px, $LS: 0px, $CLR: #F67E7E);
    color: $clr-white !important;
}
@media(max-width:974px){
    .info-section {
        padding: 100px 0 100px 74px;
        background-image: url("../../img/build-bg.png");
        background-position: top right;
    }
    .info__line {
        margin-bottom: 32px;        
    }
    .info {
        @include Display($items: start, $justify: space-between, $gap: 125px);
        flex-direction: column;
    }
    .info__left-wrapper {
        width: 90%;
    }
    .info__title {
        @include TextStyle($FW: 700, $FS: 32px, $LH: 32px, $LS: 0px, $CLR: $clr-white);
    }
    .info__list {
        margin-top: 0px;
    }
}
@media (max-width:531px){
    .info-section {
        padding: 64px 0;
    }
    .info__title {
        @include TextStyle($FW: 700, $FS: 32px, $LH: 32px, $LS: 0px, $CLR: $clr-white);
        width: 70%;
    }
    .info__item {
        display: block;
        text-align: center;
        margin-bottom: 48px;
    }
    .info__item >img{
        margin-bottom: 16px;
    }
    .info__text {
        margin-bottom: 16px;
    }
}
